apiVersion: apps/v1
kind: Deployment
metadata:
  name: jobs-postgres-16
spec:
  selector:
    matchLabels:
      app: jobs-postgres-16
  template:
    metadata:
      labels:
        app: jobs-postgres-16
    spec:
      containers:
      - name: jobs-postgres-16
        image: {{ jobs_postgres16_image }}
        ports:
        - name: postgres
          containerPort: 5432
        env:
        - name: PGDATA
          value: "/pgdata/data"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: tapis-jobs-secrets
              key: postgres-password
        volumeMounts:
        - name: jobs-pg-data
          mountPath: "/pgdata"
      volumes:
      - name: jobs-pg-data
        persistentVolumeClaim:
          claimName: jobs-postgres-16-vol
