apiVersion: v1
kind: Service
metadata:  
  name: jobs-postgres-16
spec:
  type: ClusterIP
  selector:    
    app: jobs-postgres-16
  ports:  
  - name: postgres
    port: 5432
    targetPort: 5432

---

apiVersion: v1
kind: Service
metadata:
  name: jobs-pgadmin
spec:
  type: ClusterIP
  selector:
    app: jobs-pgadmin
  ports:
  - name: http
    port: 80
    targetPort: 80
