apiVersion: apps/v1
kind: Deployment
metadata:
  name: apps-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: apps-api
  template:
    metadata:
      labels:
        app: apps-api
    spec:
      containers:
      - name: apps-api
        image: {{ apps_api_image }} 
        imagePullPolicy: Always
        ports:
          - containerPort: 8080
          - containerPort: 8000
            name: "jvm-debug"
        env:
          - name: TAPIS_DB_JDBC_URL
            value: jdbc:postgresql://apps-postgres-16:5432/tapisappdb?ApplicationName=appapi
          - name: TAPIS_DB_USER
            value: tapis_app
          - name: TAPIS_SITE_ID
            valueFrom:
              configMapKeyRef:
                name: apps-config
                key: site_id
          - name: TAPIS_TENANT_SVC_BASEURL
            valueFrom:
              configMapKeyRef:
                name: apps-config
                key: service_site_url
          - name: TAPIS_DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: tapis-apps-secrets
                key: postgres-password
          - name: TAPIS_SERVICE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: tapis-apps-secrets
                key: service-password
