---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: files-api
  name:  files-api
spec:
  replicas: {{files_api_replicas}}
  selector:
    matchLabels:
      app: files-api
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: files-api
    spec:
{% if files_node_selector is not none %}
      nodeSelector:
        exempt: "yes"
{% endif %}
      containers:
      - name: files-api
        image: {{ files_api_image }}
        imagePullPolicy: Always
        ports:
        - name: "files-api"
          containerPort: 8080
{% if files_files_debug == true %}
        - name: "files-debug"
          containerPort: 8000
{%  endif %}
        env:
{% if files_node_name == true %}
        - name: TAPIS_LOCAL_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
{% endif %}
        - name: TAPIS_SITE_ID
          value: {{files_service_site_id}}
        - name: TOKENS_SERVICE_URL
          value: {{files_service_url}}
        - name: TENANTS_SERVICE_URL
          value: {{files_service_url}}
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: tapis-files-secrets
              key: postgres-password
        - name: SERVICE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: tapis-files-secrets
              key: service-password
{% if systems_globus_client_id is defined %}
        - name: TAPIS_GLOBUS_CLIENT_ID
          value: {{systems_globus_client_id}}
        - name: DB_URL
          value: jdbc:postgresql://{{files_postgres_hostname}}:5432/tapisfiles?ApplicationName=FilesAPI
        - name: TAPIS_AUDITING_ENABLED
          value: "{{ files_auditing_enabled }}"
        - name: TAPIS_DB_CONNECTION_POOL_SIZE
          value: "10"
        - name: TAPIS_DB_CONNECTION_POOL_CORE_SIZE
          value: "5"
        - name: DB_USERNAME
          value: tapisfiles
{% endif %}

      hostname: files-api
      restartPolicy: Always
