apiVersion: apps/v1
kind: Deployment
metadata:
  name: restheart
spec:
  selector:
    matchLabels:
      app: restheart
  template:
    metadata:
      labels:
        app: restheart
    spec:
      containers:
        - name: restheart
          image: tapis/tapis-meta-rh-server:{{local_param["image_version"]|default(service_param["image_version"]|default(universal_param["image_version"]|default(defaults["imave_version"])))}}
          imagePullPolicy: Always
          command: [ "java", "-Dfile.encoding=UTF-8", "-server", "-jar", "restheart.jar", "etc/restheart.yml", "--envFile", "etc/config.properties"]
          ports:
            - name: tomcat
              containerPort: 8080
          env:
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: restheart-security-mongo-uri
                  key: restheart-security-mongo-uri
          volumeMounts:
            - name: restheart-server-config-properties
              mountPath: /opt/restheart/etc/config.properties
              subPath: restheart-server-config.properties
      volumes:
        - name: restheart-server-config-properties
          configMap:
            name: meta-config

