networks:
  tapis:
    name: tapis
    external: true

services:
  vault:
    container_name: vault
    restart_policy: unless-stopped
    image: {{ vault_image }}
    command: ['vault','server','-config=/vault/config']
    cap_add:
      - IPC_LOCK
    ports:
      - 127.0.0.1:8200:8200
    environment:
      - VAULT_ADDR=http://0.0.0.0:8200
    volumes:
      - ./vault.hcl:/vault/config/vault.hcl
      - {{ vault_data_dir }}/data:/vault/data
      - {{ vault_data_dir }}/certs:/vault/certs
    networks:
      - tapis

