
---
apiVersion: batch/v1
kind: Job
metadata:
  name: sk-migrate
spec:
  ttlSecondsAfterFinished: 60
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: sk-migrate
        image: tapis/securitymigrate:{{security_image_version}}
        imagePullPolicy: Always
        {% if security_memory %}
        resources:
          requests:
            memory: "{{security_memory}}"
        {% endif%}
        env:
        - name: HOST
          value: "sk-postgres"
        - name: PORT
          value: "5432"
        - name: USER
          value: "postgres"
        - name: PW
          valueFrom:
            secretKeyRef:
              name: tapis-sk-secrets 
              key: postgres-password
        - name: TPW
          valueFrom:
            secretKeyRef:
              name: tapis-sk-secrets 
              key: tapis-postgres-password

