apiVersion: v1
kind: Service
metadata:  
  name: systems-postgres
spec:
  selector:    
    app: systems-postgres
  ports:  
  - name: postgres
    port: 5432
    targetPort: 5432


---

apiVersion: v1
kind: Service
metadata:
  name: systems-pgadmin
spec:
  type: ClusterIP
  selector:
    app: systems-pgadmin
  ports:
  - name: http
    port: 80
    targetPort: 80
