---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: stern
  labels:
    app: stern
spec:
  selector:
    matchLabels:
      app: stern
  template:
    metadata:
      labels:
        app: stern
    spec:
      initContainers:
      - name: logrotate
        image: mrghort/stern-collector:20
        command: ['logrotate','/etc/logrotate.d/stern.conf']
        volumeMounts:
        - name: stern-data
          mountPath: "/stern-data"
        - name: stern-config
          mountPath: /etc/logrotate.d/stern.conf
          subPath: stern.conf
      containers:
      - name: stern
        image: mrghort/stern-collector:20
        volumeMounts:
        - name: stern-data
          mountPath: "/stern-data"
        - name: stern-config
          mountPath: /etc/logrotate.d/stern.conf
          subPath: stern.conf
        - name: kubeconfig
          mountPath: /root/.kube/config
          subPath: config
      volumes:
      - name: stern-config
        configMap:
          name: stern-config
      - name: kubeconfig
        configMap:
          name: kubeconfig
      - name: stern-data
        persistentVolumeClaim:
          claimName: {{local_param["volume_name"]|default("stern-data-vol01")}}
