kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: stern-data-vol{{local_param["volume_number"]|default(service_param["volume_number"]|default(universal_param["volume_number"]|default("01")))}}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{universal_param["storage_class"]|default("rbd-new")}}
  resources:
    requests:
      storage: 50Gi



