kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{service_param["stern_pvc"]|default(defaults["stern_pvc"])}}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{universal_param["storage_class"]}}
  resources:
    requests:
      storage: 50Gi



