
apiVersion: v1
kind: Service
metadata:
  name: pods-rabbitmq
spec:
  type: NodePort
  selector:
    app: pods-rabbitmq
  ports:
  - name: rabbitmq
    port: 5672
    targetPort: 5672

---
apiVersion: v1
kind: Service
metadata:
  name: pods-rabbitmq-dash
spec:
  type: NodePort
  selector:
    app: pods-rabbitmq
  ports:
  - name: rabbitmq-dash
    port: 15672
    targetPort: 15672

---
apiVersion: v1
kind: Service
metadata:
  name: pods-postgres
spec:
  type: NodePort
  selector:
    app: pods-postgres
  ports:
  - name: pods-postgres
    port: 5432
    targetPort: 5432

---
apiVersion: v1
kind: Service
metadata:
  name: pods-api
spec:
  selector:
    app: pods-api
  ports:
  - name: fastapi
    port: 8000
    targetPort: 8000

---
apiVersion: v1
kind: Service
metadata:
  name: pods-traefik
spec:
  selector:
    app: pods-traefik
  ports:
  - name: traefik
    port: 80
    targetPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: pods-traefik-dash
spec:
  type: NodePort
  selector:
    app: pods-traefik
  ports:
  - name: traefik
    port: 8080
    targetPort: 8080

---
apiVersion: v1
kind: Service
metadata:
  name: pods-nfs
spec:
  selector:
    app: pods-nfs
  ports:
  - name: pods-nfs
    port: 2049
    targetPort: 2049
