# TAPIS Monitoring Service
apiVersion: v1
kind: Service
metadata:
  name: monitoring-exporter
spec:
  selector:
    app: monitoring-tapis-exporter
  type: ClusterIP
  ports:
  - name: monitoring-exporter
    port: 8000
    targetPort: 8000

---
# Prometheus Service
apiVersion: v1
kind: Service
metadata:  
  name: monitoring-prometheus
spec:
  selector:    
    app: monitoring-prometheus
  type: ClusterIP
  ports:  
  - name: monitoring-prometheus
    port: 9090
    targetPort: 9090

