{
  "baseurl": "dev.develop.tapis.io",
  "upstreamserver": "c002.rodeo.tacc.utexas.edu",
  "sslcertbundle": "/etc/pki/tls/certs/dev.develop.tapis.io.bundle.pem",
  "sslkey": "/etc/pki/tls/private/dev.develop.tapis.io.key",
  "allowed_ips": [ "129.114.0.0/17", "128.62.0.0/16" ],
  "locations": [ ],
  "authlocations": [ ]
}
