---
apiVersion: batch/v1
kind: Job
metadata:
  name: tenants-migrations
spec:
  ttlSecondsAfterFinished: 60
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: tenants-migrations
        image: tapis/tenants-api-migrations:{{local_param["image_version"]|default(service_param["image_version"]|default(universal_param["image_version"]|default("dev")))}}
        command: ["sleep","3600"]
        #args: ["upgrade"]
        imagePullPolicy: Always
        env:
        - name: sql_db_url
          value: postgres:5432/tenants
        - name: postgres_user
          value: tenants
        - name: postgres_password
          valueFrom:
            secretKeyRef:
              name: tapis-tenants-secrets
              key: postgres-password
        volumeMounts:
        - name: tenants-config
          mountPath: /home/tapis/config.json
          subPath: tenants-config.json
        imagePullPolicy: Always
      volumes:
      - name: tenants-config
        configMap:
          name: global-config
