apiVersion: v1
kind: Service
metadata:  
  name: sk-postgres-16
spec:
  type: ClusterIP
  selector:    
    app: sk-postgres-16
  ports:  
  - name: postgres
    port: 5432
    targetPort: 5432

---

apiVersion: v1
kind: Service
metadata:  
  name: sk-pgadmin
spec:
  type: ClusterIP
  selector:
    app: sk-pgadmin
  ports:  
  - name: http
    port: 80
    targetPort: 80

