{
    "secrets": {
        "user":[
            {
                "tenant":     "admin",
                "user":       "grafana-admin",
                "secretName": "secrets",
                "key":        "grafana-password",
                "value":      "<generate-secret>",
                "kubeSecretName": "tapis-monitoring-secrets",
                "kubeSecretKey":  "grafana-password"
            },
            {% if local_param["passwords"]%}
            {
                "tenant":     "admin",
                "user":       "grafana-admin",
                "secretName": "postgres-ro-password",
                "key":        "password",
                "value":      "<generate-secret>",
                "kubeSecretName": "tapis-monitoring-secrets",
                "kubeSecretKey":  "postgres-ro-password"
            },
            {
                "tenant":     "admin",
                "user":       "grafana-admin",
                "secretName": "thanos-s3-secret-key",
                "key":        "password",
                "value":      "<generate-secret>",
                "kubeSecretName": "tapis-monitoring-secrets",
                "kubeSecretKey":  "thanos-s3-secret-key"
            {% endif %}
            }        
        ]
    }
}
