{
    "secrets": {
        "servicepwd":[
            {
                "tenant":     "{{universal_param["service_tenant_id"]}}",
                "user":       "apps",
                "secretName": "password",
                "password":   "<generate-secret>",
                "kubeSecretName": "tapis-apps-secrets",
                "kubeSecretKey":  "service-password"
            }
        ],
        "dbcredential":[
            {
                "tenant":     "{{universal_param["service_tenant_id"]}}",
                "user":       "tapis",
                "secretName": "passwords",
                "dbservice":  "postgres",
                "dbhost":     "apps-postgres",
                "dbname":     "tapisappdb",
                "secret":     "<generate-secret>",
                "kubeSecretName": "tapis-apps-secrets",
                "kubeSecretKey":  "postgres-password"
            },
            {
                "tenant":     "{{universal_param["service_tenant_id"]}}",
                "user":       "tapis",
                "secretName": "passwords",
                "dbservice":  "pgadmin",
                "dbhost":     "apps-postgres",
                "dbname":     "tapisappdb",
                "secret":     "<generate-secret>",
                "kubeSecretName": "tapis-apps-secrets",
                "kubeSecretKey":  "pgadmin-password"
            }
        ]
    }
}
