{
    "secrets": {
        "dbcredential":[
            {
                "tenant":     "admin",
                "user":       "tapis",
                "secretName": "passwords",
                "dbservice":  "postgres",
                "dbhost":     "sk-postgres",
                "dbname":     "tapissecdb",
                "secret":     "<generate-secret>",
                "kubeSecretName": "tapis-sk-secrets",
                "kubeSecretKey":  "tapis-postgres-password"
            },
            {
                "tenant":     "admin",
                "user":       "postgres",
                "secretName": "passwords",
                "dbservice":  "postgres",
                "dbhost":     "sk-postgres",
                "dbname":     "tapissecdb",
                "secret":     "<generate-secret>",
                "kubeSecretName": "tapis-sk-secrets",
                "kubeSecretKey":  "postgres-password"
            },
            {
                "tenant":     "admin",
                "user":       "wow",
                "secretName": "passwords",
                "dbservice":  "pgadmin",
                "dbhost":     "sk-postgres",
                "dbname":     "tapissecdb",
                "secret":     "<generate-secret>",
                "kubeSecretName": "tapis-sk-secrets",
                "kubeSecretKey":  "pgadmin-password"
            }
        ]
    }
}
