{
    "secrets": {
        "servicepwd":[
            {
                "tenant":     "admin",
                "user":       "streams",
                "secretName": "password",
                "password":   "<generate-secret>",
                "kubeSecretName": "tapis-streams-secrets",
                "kubeSecretKey":  "service-password"
            }
        ],
        "user":[
            {
                "tenant":     "admin",
                "user":       "admin",
                "secretName": "secrets",
                "key":        "chords-api-key",
                "value":      "<generate-secret>",
                "kubeSecretName": "tapis-streams-secrets",
                "kubeSecretKey":  "chords-api-key"
            }        
        ],
        "dbcredential":[
            {
                "tenant":     "admin",
                "user":       "admin",
                "secretName": "passwords",
                "dbservice":  "influx",
                "dbhost":     "influx_host",
                "dbname":     "chords_ts_production",
                "secret":     "<generate-secret>",
                "kubeSecretName": "tapis-streams-secrets",
                "kubeSecretKey":  "influx-password"
            },
            {
                "tenant":     "admin",
                "user":       "admin",
                "secretName": "passwords",
                "dbservice":  "mysql",
                "dbhost":     "mysql_host",
                "dbname":     "CHORDS_SEEDED_production",
                "secret":     "<generate-secret>",
                "kubeSecretName": "tapis-streams-secrets",
                "kubeSecretKey":  "mysql-password"
            }
        ]
    }
}
