{
    "secrets": {
        "jwtsigning":[
            {% for tenant in local_param["tenants"]%}
            {
                "tenant":     "{{tenant}}",
                "user":       "bozo",
                "secretName": "keys",
                "privateKey": "<generate-secret>",
                "kubeSecretName": "tapis-tokens-secrets",
                "kubeSecretKey":  "{{tenant}}-privatekey"
            }{%-if not loop.last-%},{% endif %}
            {% endfor%}
        ]
    }
}
