kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{service_param["influx_pvc"]|default(defaults["influx_pvc"])}}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{universal_param["storage_class"]}}
  resources:
    requests:
      storage: 200Gi

#---
#apiVersion: batch/v1
#kind: Job
#metadata:
#  name: chown-postgres-pvc
#spec:
#  ttlSecondsAfterFinished: 60
#  template:
#    spec:
#      restartPolicy: Never
#      containers:
#      - name: chown-postgres-volume
#        image: alpine:latest
#        command:
#        - chown
#        - -R
#        - 999:999
#        - /var/lib/postgresql
#        volumeMounts:
#        - name: pg-data
#          mountPath: /var/lib/postgresql
#      volumes:
#      - name: pg-data
#        persistentVolumeClaim:
#          claimName: {{service_param["postgres_pvc"]|default(defaults["postgres_pvc"])}}
#
