kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: sk-postgres-vol{{local_param["volume_number"]|default(service_param["volume_number"]|default(universal_param["volume_number"]|default("01")))}}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{universal_param["storage_class"]|default("rbd-new")}}
  resources:
    requests:
      storage: 20Gi

# 20201110 commenting - mpackard
#---
#apiVersion: batch/v1
#kind: Job
#metadata:
#  name: mkdir-sk-postgres-pvc
#spec:
#  ttlSecondsAfterFinished: 60
#  template:
#    spec:
#      restartPolicy: Never
#      containers:
#      - name: mkdir-sk-postgres-volume
#        image: alpine:latest
#        command:
#        - mkdir 
#        - /var/lib/postgresql/data
#        volumeMounts:
#        - name: sk-pg-data
#          mountPath: /var/lib/postgresql
#      volumes:
#      - name: sk-pg-data
#        persistentVolumeClaim:
#          claimName: sk-postgres-vol{{local_param["volume_number"]|default(service_param["volume_number"]|default(universal_param["volume_number"]|default("01")))}}
#
#---
#apiVersion: batch/v1
#kind: Job
#metadata:
#  name: chown-sk-postgres-pvc
#spec:
#  ttlSecondsAfterFinished: 60
#  template:
#    spec:
#      restartPolicy: Never
#      containers:
#      - name: chown-sk-postgres-volume
#        image: alpine:latest
#        command:
#        - chown
#        - -R
#        - 999:999
#        - /var/lib/postgresql
#        volumeMounts:
#        - name: sk-pg-data
#          mountPath: /var/lib/postgresql
#      volumes:
#      - name: sk-pg-data
#        persistentVolumeClaim:
#          claimName: sk-postgres-vol{{local_param["volume_number"]|default(service_param["volume_number"]|default(universal_param["volume_number"]|default("01")))}}
#
