apiVersion: v1
kind: Service
metadata:  
  name: notifications-postgres-16
spec:
  type: ClusterIP
  selector:    
    app: notifications-postgres-16
  ports:  
  - name: postgres
    port: 5432
    targetPort: 5432


---

apiVersion: v1
kind: Service
metadata:
  name: notifications-pgadmin
spec:
  type: ClusterIP
  selector:
    app: notifications-pgadmin
  ports:
  - name: http
    port: 80
    targetPort: 80
