apiVersion: v1
metadata:
  name: actors-environment-vars
data:
  abaco_host_path: "/home/apim/{{local_param["path"]}}"
  _abaco_secret: "123"
  TAS_ROLE_ACCT: ""
  TAS_ROLE_PASS: ""
  {% if local_param["timeout"]%}
  timeout: "{{local_param["timeout"]}}"
  {% endif %}

kind: ConfigMap
