
apiVersion: apps/v1
kind: Deployment
metadata:
  name: actors-mongo
spec:
  selector:
    matchLabels:
      app: actors-mongo
  template:
    metadata:
      labels:
        app: actors-mongo
    spec:
      containers:
      - name: actors-mongo
        image: mongo:4.2.6
        ports:
        - name: mongo
          containerPort: 27017
        volumeMounts:
        - name: actors-mongo-data
          mountPath: "/data/db"
        env:
        {% if local_param["init_database"]%}
        - name: MONGO_INITDB_DATABASE
          value: {{local_param["init_database"]}}
        {%endif%}
        - name: MONGO_INITDB_ROOT_USERNAME
          value: admin
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: tapis-abaco-secrets
              key: mongo-password
      volumes:
      - name: actors-mongo-data
        persistentVolumeClaim:
          claimName: actors-mongo-vol{{local_param["volume_number"]|default(service_param["volume_number"]|default(universal_param["volume_number"]|default("01")))}}
