
---
apiVersion: batch/v1
kind: Job
metadata:
  name: jobs-migrate
spec:
  ttlSecondsAfterFinished: 60
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: jobs-migrate
        image: {{ jobs_migrations_image }}
        imagePullPolicy: Always
        env:
        - name: HOST
          value: "jobs-postgres"
        - name: PORT
          value: "5432"
        - name: USER
          value: "postgres"
        - name: PW
          valueFrom:
            secretKeyRef:
              name: tapis-jobs-secrets 
              key: postgres-password
        - name: TPW
          valueFrom:
            secretKeyRef:
              name: tapis-jobs-secrets 
              key: tapis-postgres-password

