apiVersion: v1
kind: ConfigMap
metadata:
  name: workflows-mysql-init-configmap
data:
  mysql-init.sh: |
    mysql -uroot -p${MYSQL_ROOT_PASSWORD} << EOB
    -- Create database and user if not exists
    CREATE DATABASE IF NOT EXISTS ${MYSQL_DATABASE};
    CREATE USER IF NOT EXISTS ${MYSQL_USER} IDENTIFIED BY "${MYSQL_PASSWORD}";
    GRANT ALL PRIVILEGES ON ${MYSQL_DATABASE}.* TO "${MYSQL_USER}";
    EOB