apiVersion: batch/v1
kind: Job
metadata:
  name: files-init-db
spec:
  ttlSecondsAfterFinished: 60
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: files-init-db
        image: {{ files_postgres16_image }}
        imagePullPolicy: Always
        command: ["/tmp/files-init-db-sh"]
        volumeMounts:
        - name: files-init-db-vol
          mountPath: /tmp
        env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: tapis-files-secrets
              key: postgres-password

        - name: DB_HOST
          value: {{files_postgres_hostname}}
        - name: DB_NAME
          value: tapisfiles
        - name: DB_USERNAME
          value: tapisfiles
        - name: POSTGRES_DB
          value: tapisfiles
        - name: POSTGRES_USER
          value: tapisfiles
      volumes:
      - name: files-init-db-vol
        configMap:
          name: files-init-db-configmap
          defaultMode: 0777
  backoffLimit: 4

