apiVersion: apps/v1
kind: Deployment
metadata:
  name: site-router-api
spec:
  selector:
    matchLabels:
      app: site-router-api
  template:
    metadata:
      labels:
        app: site-router-api
    spec:
      containers:
      - name: site-router-api
        image: tapis/site-router-api:{{local_param["image_version"]|default(service_param["image_version"]|default(universal_param["image_version"]|default(defaults["image_version"])))}}
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 8000
        volumeMounts:
        - name: site-router-config
          mountPath: /home/tapis/config.json
          subPath: site-router-config.json
      - name: site-router-redis
        image: redis:6.2
        command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
        ports:
        - name: redis
          containerPort: 6379
        volumeMounts:
        - name: site-router-redis-data
          mountPath: "/data"
      volumes:
      - name: site-router-redis-data
        persistentVolumeClaim:
          claimName: {{service_param["site_router_pvc"]|default(defaults["site_router_pvc"])}}
      - name: site-router-config
        configMap: 
          name: site-router-config
