networks:
    tapis:
        name: tapis
        external: true

services:
  files-rabbitmq:
    container_name: files-rabbitmq
    image: {{ files_rabbitmq_management_image }}
    environment:
      - RABBITMQ_DEFAULT_USER=tapisfiles
      - RABBITMQ_DEFAULT_VHOST=tapisfiles
    env_file:
      - {{ tapisdatadir }}/files/env
    networks: 
      - tapis
    healthcheck:
      test: rabbitmq-diagnostics -q ping

  files-postgres:
    container_name: files-postgres
    image: {{ files_postgres16_image }}
    environment:
     - POSTGRES_USER=tapisfiles
     - POSTGRES_DATABASE=tapisfiles
     - PGDATA=/pgdata/data
    volumes:
      - {{ tapisdatadir }}/files/postgres:/pgdata
    networks:
      - tapis
    env_file:
      - {{ tapisdatadir }}/files/env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]

  files-postgres-11:
    container_name: files-postgres-11
    image: {{ files_migrations_image }}
    environment:
     - POSTGRES_USER=tapisfiles
     - POSTGRES_DATABASE=tapisfiles
     - PGDATA=/pgdata/data
    volumes:
      - {{ tapisdatadir }}/files/postgres/11:/pgdata
    networks:
      - tapis
    env_file:
      - {{ tapisdatadir }}/files/env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]


  files-migrations:
    container_name: files-migrations
    image: {{ files_migrations_image }}
    depends_on:
      files-postgres:
        condition: service_healthy
    volumes:
      - ./files-init-db-sh:/files-init-db-sh
    networks:
      - tapis
    command: chmod +x files-init-db-sh; /files-init-db-sh

  files-workers:
    container_name: files-workers
    image: {{ files_workers_image }}
    networks:
      - tapis
    env_file: 
      - {{ tapisdatadir }}/files/env
    environment:
{% if files_node_name == true %}
      - TAPIS_LOCAL_NODE_NAME={{ global_tapis_domain }}
{% endif %}
      - TAPIS_SITE_ID={{ files_service_site_id }}
      - TOKENS_SERVICE_URL={{ files_service_url }}
      - TENANTS_SERVICE_URL={{ files_service_url}}
      - DB_HOST=files-postgres
      - DB_NAME=tapisfiles
      - DB_USERNAME=tapisfiles
      - POSTGRES_DB=tapisfiles
      - POSTGRES_USER=tapisfiles
      - RABBITMQ_DEFAULT_USER=tapisfiles
      - RABBITMQ_DEFAULT_VHOST=tapisfiles
      - RABBITMQ_HOSTNAME=files-rabbitmq
      - RABBITMQ_USERNAME=tapisfiles
      - RABBITMQ_VHOST=tapisfiles
      - TAPIS_AUDITING_ENABLED={{ files_auditing_enabled }}
    depends_on:
      files-api: 
        condition: service_started

  files-assigner:
    container_name: files-assigner
    image: {{ files_assigner_image }} 
    networks:
      - tapis
    env_file:
      - {{ tapisdatadir }}/files/env
    environment:
{% if files_node_name == true %}
      - TAPIS_LOCAL_NODE_NAME={{ global_tapis_domain }}
{% endif %}
      - TOKENS_SERVICE_URL={{ files_service_url }}
      - TENANTS_SERVICE_URL={{ files_service_url }}
      - TAPIS_SITE_ID{{ files_service_site_id }}
{% if systems_globus_client_id is defined %}
      - TAPIS_GLOBUS_CLIENT_ID={{ systems_globus_client_id }}
{% endif %}

  files-api:
    container_name: files-api
    image: {{ files_api_image }}
    networks:
      - tapis
    env_file:
      - {{ tapisdatadir }}/files/env
    environment:
{% if files_node_name == true %}
      - TAPIS_LOCAL_NODE_NAME={{ global_tapis_domain }}
{% endif %}
      - TAPIS_SITE_ID={{ files_service_site_id }}
      - TOKENS_SERVICE_URL={{ files_service_url }}
      - TENANTS_SERVICE_URL={{ files_service_url}}
      - DB_HOST=files-postgres
      - DB_NAME=tapisfiles
      - DB_USERNAME=tapisfiles
      - POSTGRES_DB=tapisfiles
      - POSTGRES_USER=tapisfiles
      - RABBITMQ_DEFAULT_USER=tapisfiles
      - RABBITMQ_DEFAULT_VHOST=tapisfiles
      - RABBITMQ_HOSTNAME=files-rabbitmq
      - RABBITMQ_USERNAME=tapisfiles
      - RABBITMQ_VHOST=tapisfiles
      - TAPIS_AUDITING_ENABLED={{ files_auditing_enabled }}
    depends_on:
      files-postgres:
        condition: service_healthy
      files-rabbitmq:
        condition: service_healthy
