---
apiVersion: v1
kind: Pod
metadata:
  name: util
spec:
  containers:
#  - name: util
#    command: ["sleep","36000"]
#    image: mrghort/ubutil
#    env:
#     - name: VAULT_TOKEN
#       valueFrom:
#         secretKeyRef:
#           name: vault-token
#           key: vault-token
  - name: skadmin-util
    command: ["sleep","36000"]
    #command: ["/tmp/run-sk-admin"]
    image: tapis/securityadmin:{{local_param["image_version"]|default(service_param["image_version"]|default(universal_param["image_version"]))}}
    imagePullPolicy: Always
    env:
    - name: VAULT_TOKEN
      valueFrom:
        secretKeyRef:
          name: vault-token
          key: vault-token
    #- name: KUBE_TOKEN
    #  value: /var/run/secrets/kubernetes.io/serviceaccount/token
    #- name: KUBE_NAMESPACE
    #  value: /var/run/secrets/kubernetes.io/serviceaccount/namespace
    - name: VAULT_ROLEID
      valueFrom:
        secretKeyRef:
          name: tapis-sk-vault-secrets
          key: vault-roleid
    - name: VAULT_SECRETID
      valueFrom:
        secretKeyRef:
          name: tapis-sk-vault-secrets
          key: vault-secretid
    #- name: SKADMIN_PARMS
    #  value: "-c -i /tmp/initialLoad -vr VAULT_ROLEID -vs VAULT_SECRETID -b {{universal_param["vault_url"]}} -kt KUBE_TOKEN -kn KUBE_NAMEPSACE -ku https://kubernetes.default.svc.cluster.local"
    volumeMounts:
    - name: initialload
      mountPath: /tmp/initialLoad
    - name: run-sk-admin
      mountPath: /tmp/run-sk-admin
      subPath: run-sk-admin
    - name: create-sk-roles
      mountPath: /tmp/create-sk-roles
      subPath: create-sk-roles
    - name: sk-policies
      mountPath: /tmp/sk-policies
    - name: sk-admin-policies
      mountPath: /tmp/sk-admin-policies
    - name: sk-roles
      mountPath: /tmp/sk-roles
  volumes:
  - name: initialload
    configMap:
      name: sk-admin-initialload
  - name: run-sk-admin
    configMap:
      name: run-sk-admin
      defaultMode: 0777
  - name: create-sk-roles
    configMap:
      name: create-sk-roles
      defaultMode: 0777
  - name: sk-policies
    configMap:
      name: sk-policies
  - name: sk-admin-policies
    configMap:
      name: sk-admin-policies
  - name: sk-roles
    configMap:
      name: sk-roles

