kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{service_param["mongo_backup_pvc"]|default(defaults["mongo_backup_pvc"])}}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: rbd-new
  resources:
    requests:
      storage: 10Gi

