kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{service_param["postgres_pvc"]|default(defaults["postgres_pvc"])}}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{universal_param["storage_class"]}}
  resources:
    requests:
      storage: 20Gi

