---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: files-workers
  name: files-workers
spec:
  replicas: {{files_worker_replicas}}
  selector:
    matchLabels:
      app: files-workers
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: files-workers
    spec:
{% if files_use_topology_spread_constraints %}
      topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app: files-workers
{% endif %}
{% if files_node_selector is not none %}
      nodeSelector:
        exempt: "yes"
{% endif %}
      containers:
        env:
{% if files_node_name == true %}
          - name: TAPIS_LOCAL_NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
{% endif %}
          - name: TOKENS_SERVICE_URL
            value: {{files_service_url}}
          - name: TENANTS_SERVICE_URL
            value: {{files_service_url}}
          - name: TAPIS_SITE_ID
            value: {{files_service_site_id}}
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: tapis-files-secrets
                key: postgres-password
          - name: SERVICE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: tapis-files-secrets
                key: service-password
{% if systems_globus_client_id is defined %}
          - name: TAPIS_GLOBUS_CLIENT_ID
            value: {{systems_globus_client_id}}
{% endif %}
          - name: DB_URL
            value: jdbc:postgresql://{{files_postgres_hostname}}:5432/tapisfiles?ApplicationName=FilesWorker
          - name: TAPIS_AUDITING_ENABLED
            value: "{{ files_auditing_enabled }}"
          - name: CHILD_THREAD_POOL_SIZE
            value: "20"
          - name: PARENT_THREAD_POOL_SIZE
            value: "10"
          - name: TAPIS_DB_CONNECTION_POOL_SIZE
            value: "10"
          - name: TAPIS_DB_CONNECTION_POOL_CORE_SIZE
            value: "5"
          - name: TAPIS_FILES_WORKER_ACCEPTED_TRANSFER_TYPES
            value: "TRANSFER_TYPE_PARENT, TRANSFER_TYPE_CHILD"
          - name: DB_USERNAME
            value: tapisfiles
        image: {{ files_workers_image }}
        imagePullPolicy: Always
        name: files-workers
        stdin: true
        tty: true
      terminationGracePeriodSeconds: 45
      restartPolicy: Always
