---

- name: Generate Tapis Deployment Code
  hosts: tapis_installs

  vars: 
    tapisctl_action: 'generate'

  tasks: 
  - name: Set default values for vars
    include_role: 
      name: get_defaults

  - name: create tapisdir 
    file: 
      path: '{{ tapisdir }}'
      state: directory


### tapis components

  - name: baseburnup role
    include_role:
      name: baseburnup

  - name: generate tapis components
    include_role:
      name: '{{ comp }}'
    loop: '{{ components_to_deploy }}'
    loop_control:
      loop_var: comp


