apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-dynamic-config
data:
  dynamic-config.yml: |-
    http:
      middlewares:
        path-strip-v3:
          stripPrefix:
            prefixes:
             - "/v3/mlhub"
      routers:
        dashboard:
          #rule: (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
          rule: "PathPrefix(`/v3/mlhub/dashboard`)"
          middlewares:
           - "path-strip-v3"
          service: api@internal

        models-api:
          rule: "PathPrefix(`/v3/mlhub/models-api`)"
          middlewares:
           - "path-strip-v3"
          service: models-api

        datasets-api:
          rule: "PathPrefix(`/v3/mlhub/datasets-api`)"
          middlewares:
           - "path-strip-v3"
          service: datasets-api

        inference-api:
          rule: "PathPrefix(`/v3/mlhub/inference-api`)"
          middlewares:
           - "path-strip-v3"
          service: inference-api

        training-api:
          rule: "PathPrefix(`/v3/mlhub/training-api`)"
          middlewares:
           - "path-strip-v3"
          service: training-api

      services:
        models-api:
          loadBalancer:
            servers:
             - url: http://mlhub-models-api-service:8000
            #- url: http://pods-api:8000
        datasets-api:
          loadBalancer:
            servers:
             - url: http://mlhub-datasets-api-service:8000
        inference-api:
          loadBalancer:
            servers:
             - url: http://mlhub-inference-api-service:8000
        training-api:
          loadBalancer:
            servers:
             - url: http://mlhub-training-api-service:8000
