kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{service_param["elastic_pvc"]|default(defaults["elastic_pvc"])}}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{universal_param["storage_class"]}}
  resources:
    requests:
      storage: 20Gi


---
apiVersion: batch/v1
kind: Job
metadata:
  name: chown-elasticsearch-data-pvc
spec:
  ttlSecondsAfterFinished: 60
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: chown-elasticsearch-data-volume
        image: alpine:latest
        command:
        - chown
        - -R
        - 1000:1000
        - /data/
        volumeMounts:
        - name: elasticsearch-data
          mountPath: /data/
      volumes:
      - name: elasticsearch-data
        persistentVolumeClaim:
          claimName: {{service_param["elastic_pvc"]|default(defaults["elastic_pvc"])}}

