---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: grafana-vol01
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{universal_param["storage_class"]|default("rbd-new")}}
  resources:
    requests:
      storage: 20Gi