apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tapisdev-ingress-host-source-wcors
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 50G
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-origin: "*"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-headers: "Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Mx-ReqToken,X-Requested-With,x-tapis-token"
spec:
  tls:
    - hosts:
      - "{{universal_param["wildcard_url"]}}"
      secretName: tapis-ingress-cert
  ingressClassName: nginx
  rules:
  - host: "{{universal_param["wildcard_url"]}}"
    http:
      paths:
      - path: /v3/oauth2
        pathType: Prefix
        backend:
          service:
            name: authenticator-api
            port:
              number: 5000
      - path: /v3/streams
        pathType: Prefix
        backend:
          service:
            name: streams-api
            port:
              number: 5000
