apiVersion: v1
kind: Service
metadata:  
  name: notifications-postgres
spec:
  selector:    
    app: notifications-postgres
  ports:  
  - name: postgres
    port: 5432
    targetPort: 5432


---

apiVersion: v1
kind: Service
metadata:
  name: notifications-pgadmin
spec:
  type: NodePort
  selector:
    app: notifications-pgadmin
  ports:
  - name: http
    port: 80
    targetPort: 80
