apiVersion: v1
kind: Service
metadata:  
  name: apps-postgres-16
spec:
  selector:    
    app: apps-postgres-16
  ports:  
  - name: postgres
    port: 5432
    targetPort: 5432


---

apiVersion: v1
kind: Service
metadata:
  name: apps-pgadmin
spec:
  type: ClusterIP
  selector:
    app: apps-pgadmin
  ports:
  - name: http
    port: 80
    targetPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: apps-postgres-external
spec:
  type: ClusterIP
  selector:
    app: apps-postgres
  ports:
  - name: postgresql
    port: 5432
    targetPort: 5432
